<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <style>
        .form-box{
            margin-top: 15vh;
            min-width: 50vw;
        }
        .field-error {
            border-color: red;
            color: red;
        }
    </style>
</head>
<body class="text-center">
<div class="container w-50">
    <header th:replace="~{template/fragments/header :: header}"></header>
    <main class="form-signin">
        <form th:action action method="post" class="form-box w-auto">
            <h1 class="h2 mb-5 fw-bold" th:text="'비밀번호 찾기 및 변경'">로그인</h1>

            <div class="form-floating">
                <input required type="text" class="form-control" name="name" id="name">
                <label>이름</label>
                <div id="nameError"></div>
            </div>
            <div class="form-floating">
                <input required type="email" class="form-control" name="email" id="email">
                <label>이메일 주소</label>
                <div id="emailError"></div>
            </div>
            <div id="globalError" class="mt-2 mb-2"></div>
            <button id="findPasswordBtn" class="w-100 btn btn-lg btn-primary" type="button">비밀번호 찾기</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
    </main>
</div>
<footer th:replace="~{template/fragments/footer :: footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}" src="../../js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script th:replace="~{template/user/script/find_password_script :: findPassword}"></script>
</body>
</html>