<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script th:fragment="findPassword" th:inline="javascript">
    $(document).ready(function () {
        const emailFilter = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;

        $("#findPasswordBtn").click(function (){
            const name = $("#name").val();
            const email = $("#email").val();
            if (name == ""){
                $("#nameError").replaceWith("<div id=\"nameError\">이름을 입력해주세요</div>");
                $("#globalError").empty();
                $("#emailError").empty();
            } else{
                if (!emailFilter.test(email)){
                    $("#emailError").replaceWith("<div id=\"emailError\">올바른 형식의 이메일이 아닙니다.</div>");
                    $("#nameError").empty();
                    $("#globalError").empty();
                } else{
                    const requestParams = $("form").serialize();
                    $.ajax({
                        type: 'post',
                        url: "/user/checkInfo",
                        data: requestParams,
                        dataType: "json",
                        async: false,
                        success: function (user){
                            if (user.name == null){
                                $("#globalError").replaceWith("<div id=\"globalError\" class=\"mt-2 mb-2\">해당 회원의 정보가 없습니다.</div>");
                                $("#nameError").empty();
                                $("#emailError").empty();
                            }
                            else{
                                alert('입력하신 이메일로 임시 비밀번호를 발급하였습니다.');
                                window.location.href="/user/login";

                                $.post("/user/findPassword",{
                                    name : user.name,
                                    email : user.email
                                });

                            }
                        }
                    });
                }
            }


        })
    });
</script>
</body>
</html>