<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template/layout/base :: layout(~{::title}, ~{::main}, ~{::style})}">
<head>
    <title>Togetor 게시물들</title>
    <style>
        .post-info{
            font-size: small;
        }

    </style>
</head>
<body>
<main>
    <div class="container">
        <ul class="nav nav-tabs mb-3 justify-content-center">
            <li th:each="category : ${categoryList}" class="nav-item me-2">
                <!-- class=active이면 회색으로 변함. -->
                <a th:classappend="${category.title == categoryTitle ? 'active' : ''}"
                   class="nav-link fw-bold fs-5" th:href="@{/posts/{param}(param=${category.title})}"
                   href="#" th:text="${category.title}">운동</a>
            </li>
        </ul>
        <div th:replace="~{template/fragments/select_region :: select}"></div>
        <h3 class="text-center">현재 선택된 지역은 XX입니다.</h3>

        <div class="row mb-2 mt-4 me-0 p-0 g-0">
            <div th:if="${postList.size()} == 0">
                <h2>해당 컨텐츠가 없습니다.</h2>
            </div>
            <div th:each="post : ${postList}" class="col-md-6 h-25">
                <div class="row g-0 border rounded mb-4 shadow-sm post">
                    <div class="col p-4 d-flex flex-column">
                        <a class="text-decoration-none" th:href="@{/posts/{param1}/{param2}(param1=${post.categoryTitle}, param2=${post.id})}">
                            <div class="row justify-content-between">
                                <h3 th:text="${post.title}" class="mb-1 fs-3 fw-bold col-md-auto text-truncate">제목</h3>
                            </div>
                        </a>
                        <p th:text="${post.siDo} + ' ' + ${post.siGunGu} + ' ' + ${post.eupMyeonDong}" class="mb-3 text-secondary">위치</p>
                        <div class="mb-4 text-truncate col-md-auto content" th:text="${post.content}">내용 블라블라</div>
                        <div class="row post-info">
                            <div th:text="${post.user.nickname}" class="mb-1 col-md">작성자(연관관계 매핑필요)</div>
                        </div>
                        <div class="row post-info">
                            <div class="mb-1 col-md-3 text-muted">댓글 수</div>
                            <div class="mb-1 text-muted col-md-3 text-start">관심</div>
                            <div th:text="${post.regdate}" class="mb-1 text-muted col-md-6 text-end">작성 시간</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="mt-5">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</main>

</body>
</html>

