<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시물 글쓰기</title>
    <style>
        .write-form{
            max-width: 1000px;
        }
        .form-label{
            font-size: small;
        }
    </style>
<!--    <link th:href="@{/css/summernote/summernote-lite.css}" rel="stylesheet" href="/templates/css/summernote-lite.css">-->
    <link th:href="@{/css/bootstrap.min.css}" href="/templates/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header th:replace="~{template/fragments/header :: header}"></header>
</div>
<main>
    <h3 class="text-muted text-center mb-3">글쓰기</h3>
    <form th:action action="/" th:object="${post}" method="post">
        <div class="container border rounded write-form">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="제목을 입력해주세요" required>
            </div>
            <select th:id="*{categoryName}" class="form-select mb-3" required>
                <option class="text-muted" value="">카테고리를 선택해주세요</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <div class="row mb-3">
                <div class="col-md-auto">
                    <div class="row">
                        <div class="col-md-auto">
                            <select th:id class="form-select select-region" required>
                                <option class="text-muted" value="">지역을 선택하세요</option>
                                <option value="sido">United States</option>
                            </select>
                        </div>
                        <div class="col-md-auto">
                            <select th:id class="form-select select-region" required>
                                <option class="text-muted" value="">동네를 선택하세요</option>
                                <option value="sigungu">United States</option>
                            </select>
                        </div>
                        <div class="col-md-auto">
                            <select th:id class="form-select select-region" required>
                                <option class="text-muted" value="">동을 선택하세요</option>
                                <option value="eupmyeondong">United States</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="formFileSm" class="form-label fw-bold">관련 사진</label>
                <input th:field="*{image}" class="form-control form-control-sm" id="formFileSm" type="file">
            </div>

            <div class="mb-3">
                <textarea id="summernote" required class="form-control" name="editordata" rows="15"></textarea>
            </div>

            <div class="row justify-content-around mb-4">
                <button type="submit" class="btn btn-secondary col-md-1 fs-5">등록</button>
                <button th:onclick="|location.href='@{/}'|" type="button" class="btn btn-outline-secondary col-md-1 fs-5">취소</button>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!--    섬머노트 적용시 사용할 스크립트

    <script th:src="@{/js/summernote/summernote-lite.js}" src="/templates/js/summernote-lite.js"></script>
    <script th:src="@{/js/summernote/lang/summernote-ko-KR.js}" src="/templates/js/lang/summernote-ko-KR.js"></script>
    <script>
        $(document).ready(function() {
            //여기 아래 부분
            $('#summernote').summernote({
                height: 300,                 // 에디터 높이
                minHeight: null,             // 최소 높이
                maxHeight: null,             // 최대 높이
                focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
                lang: "ko-KR",					// 한글 설정
                placeholder: '최대 2048자까지 쓸 수 있습니다'	//placeholder 설정
            });
        });
    </script>

    -->
</main>
</body>
</html>

