<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template/layout/base :: layout(~{::title}, ~{::main}, ~{::style}, ~{::script})}">
<head>
    <title>Togetor</title>
    <style></style>
</head>
<body>
<main>
    <div class="container">
        <div class="row g-5 mt-2">
            <div th:each="category : ${categoryList}" class="col-md-6">
                <div class="row justify-content-between">
                    <div class="col-md-auto">
                        <h3 th:text="${category.title}">등산</h3>
                    </div>
                    <div class="col-md-auto p-2">
                        <span><a th:href="@{/posts/{param}(param=${category.title})}" href="/"
                                 class="text-decoration-none text-secondary">더보기</a></span>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li th:each="post : ${postList}">
                        <div th:if="${post.categoryTitle == category.title}" class="row justify-content-between border p-2">
                            <a th:text="${post.title}" th:href="@{/post/{param1}(param1=${post.id})}" href="/" class="fs-6 text-truncate text-decoration-none text-primary col-md-auto">
                                제목
                            </a>
                            <small th:text="|${post.siDo} ${post.siGunGu} ${post.eupMyeonDong}|" class="col-md-auto small">장소</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script th:inline="javascript">

    $(document).ready(function (){
        const siDo = [[${siDo}]];
        const siGunGu = [[${siGunGu}]];
        const eupMyeonDong = [[${eupMyeonDong}]];
        $("#siDoSel").val(siDo).prop("selected", true);
        $("#siGunGuSel").val(siGunGu).prop("selected", true);
        $("#eupMyeonDongSel").val(eupMyeonDong).prop("selected", true);


        $("#siDoSel").change(function (){
            const selectedSido = $("#siDoSel option:selected").val();

            window.location.href = '/' + selectedSido;
        });

        $("#siGunGuSel").change(function (){
            const selectedSigungu = $("#siGunGuSel option:selected").val();

            window.location.href = '/' + siDo + '/' + selectedSigungu;
        });

        $("#eupMyeonDongSel").change(function (){
            const selectedEupmyeondong = $("#eupMyeonDongSel option:selected").val();

            window.location.href = '/' + siDo + '/' + siGunGu + '/' + selectedEupmyeondong;
        });
    });
</script>
<script th:src="@{/js/bootstrap.bundle.min.js}" src="/templates/js/bootstrap.bundle.min.js"/>
</body>


</html>

