<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header" class="d-flex flex-wrap navbar justify-content-center py-3 mb-4 border-bottom">
    <a th:href="@{/}" href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-1 text-primary">Togetor</span>
    </a>

<!--    <form class="col-12 col-lg-auto mb-0 mb-lg-0 me-lg-3">-->
<!--        <input type="search" class="form-control" placeholder="Search...">-->
<!--    </form>-->

    <div class="col-md-auto text-end mb-0">
        <form th:action="@{/user/logout}" th:method="post">
            <a th:if="${session.loginSession != null}"><button type="submit" class="btn btn btn-outline-dark me-2 fw-bold">로그아웃</button></a>
            <a th:href="@{/user/login}" th:if="${session.loginSession == null}"><button type="button" class="btn btn btn-outline-dark me-2 fw-bold">로그인</button></a>
            <a th:href="@{/user/myPostList/{param}(param=${session.userId})}" th:if="${session.loginSession != null}"><button type="button" class="btn btn-outline-secondary me-2 fw-bold">마이페이지</button></a>
            <a th:href="@{/post/write}" type="button" class="btn btn-outline-secondary me-2 fw-bold">글쓰기</a>
        </form>

    </div>
</header>
</body>
</html>